.table-style {
    display: table-caption;
}

.login-form {
    background-color: #b1a69142;
}

.form-group label {
    font-size: 2rem;
}

.form-group input {
    font-size: 2rem;
    text-align: center;
}

.btn-primary {
    margin: 10px 0;
    background-color: #dbac87;
    cursor: pointer;
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 21px;
    transition: 0.3s;
}

.btn-primary:hover {
    transition: 0.3s;
    background-color:#ff7c73;
}