body {
  margin: 0;
  padding: 0;
  background-color: #c5b9a0b8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./moroccan-flower/moroccan-flower.png);
  height: 100% !important;
}

@media (min-width: 1080px) {
  body {
    padding: 0 10px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  background-color: #c5b9a0b8;
  min-height: 99vh !important;
}